---
import Header from "@components/Header.astro";
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blog"))
  .sort((a, b) => {
    return a.data.publishDate.valueOf() - b.data.publishDate.valueOf();
  })
  .filter((post) => !post.data.draft);
---

<Base>
  <Header />
  <main class="w-128 m-auto">
    <section class="max-w-lg m-auto">
      <h1 class="text-4xl font-semibold text-primary-600 mb-4">Blog</h1>
      <ul>
        {
          blogPosts.map(({ data, slug }, index) => (
            <>
              <li>
                {blogPosts[index - 1]?.data.publishDate.getMonth() !==
                  data.publishDate.getMonth() && (
                  <h2 class="text-2xl font-semibold text-primary-600 mb-4 underline">
                    {data.publishDate.toLocaleDateString("en-GB", {
                      month: "long",
                    })}
                  </h2>
                )}
              </li>
              <li>
                <a href={`/blog/${slug}`} class="no-underline">
                  <time class="no-underline">
                    {data.publishDate.toLocaleDateString(undefined, {
                      year: "numeric",
                      month: "2-digit",
                      day: "2-digit",
                    })}
                  </time>
                  <span class="underline">{data.title}</span>
                </a>
              </li>
            </>
          ))
        }
      </ul>
    </section>
  </main>
</Base>
