---
import Layout from "@layouts/Layout.astro";

const { getTopTracks, getTopArtists, getTopAlbums } = await import(
  "@functions/lastfm"
);

const tracks = await getTopTracks();
const albums = await getTopAlbums(5, true);
const artists = await getTopArtists(5);
---

<Layout>
  <h1>Music</h1>

  <h2>Tracks</h2>
  <div class="grid grid-cols-3 gap-4">
    {
      tracks.map((track) => (
        <div>
          <>
            <img src={track.image[2]!["#text"]} />
            <p>{track.name}</p>
          </>
        </div>
      ))
    }
  </div>
  <h2>Artists</h2>
  <div class="grid grid-cols-3 gap-4">
    {
      artists.map((artist) => (
        <div>
          <>
            <img src={artist.image[2]!["#text"]} />
            <p>{artist.name}</p>
          </>
        </div>
      ))
    }
  </div>
  <h2>Albums</h2>
  <div class="grid grid-cols-3 gap-4">
    {
      albums.map((album) => (
        <div>
          <>
            <img src={album.image[2]!["#text"]} />
            <p>{album.name}</p>
          </>
        </div>
      ))
    }
  </div>
</Layout>
