---
interface Props {
  selected: "tracks" | "artists";
}
const { selected } = Astro.props as Props;
---

<nav transition:animate="none">
  <ul class="flex flex-row justify-around flex-1 py-4">
    <li>
      <a
        class={"transition-colors duration-600 flex flex-row items-center space-x-2 group hover:text-primary-400 " +
          (selected === "tracks" ? "underline" : "")}
        href="/music/top/tracks">Tracks</a
      >
    </li>
    <li>
      <a
        class={"transition-colors duration-600 flex flex-row items-center space-x-2 group hover:text-primary-400 " +
          (selected === "artists" ? "underline" : "")}
        href="/music/top/artists">Artists</a
      >
    </li>
  </ul>
</nav>
