---
import RecentlyPlayed from "../components/steam/RecentlyPlayed.astro";
import Site from "../layouts/Site.astro";
---

<Site title="TLDRQwerty" description="My Website">
  <section class="py-8">
    Hi, I'm Charlie a software engineer based in Portsmouth, currently working
    at Radweb, on InventoryBase.
  </section>
  <section>
    <h1>What I've Been Playing</h1>
    <RecentlyPlayed />
    <a
      class="hover:underline hover:text-primary-400 transition-colors duration-600"
      href="/games">See more</a
    >
  </section>
</Site>
