---
import Site from "@layouts/Site.astro";
import RecentlyPlayedGames from "@components/RecentlyPlayedGames.astro";
---

<Site title="Home">
	<section>My Website :)</section>
	<section>
		<h1>Recently Played Games</h1>
		<RecentlyPlayedGames />
	</section>
</Site>
