---
import Header from "@components/Header.astro";
import SteamRecentGames from "@components/SteamRecentGames.astro";
import Base from "@layouts/Base.astro";
import CurrentlyPlaying from "@components/spotify/CurrentlyPlaying.tsx";
import "../style.css";
---

<Base>
  <Header />

  <section class="mt-16 ml-8">
    <p>
      Hi, I'm Charlie a software engineer based in Portsmouth, currently working
      at <a href="https://radweb.co.uk">Radweb</a>, on <a
        href="https://inventorybase.co.uk">InventoryBase</a
      >.
    </p>
  </section>
  <SteamRecentGames />
</Base>
