---
import { Icon } from "astro-icon";
import ColorSwitcher from "./ColorSwitcher.svelte";

const LINKS = [
  {
    name: "Games",
    href: "/games",
    icon: "device-gamepad",
  },
  {
    name: "Blog",
    href: "/blog",
    icon: "book",
  },
  {
    name: "Github",
    href: "https://github.com/TLDRQwerty",
    icon: "brand-github",
  },
] as const;
---

<header class="lg:sticky top-0 dark:bg-gray-900 bg-white lg:z-10">
  <nav class="flex-row flex justify-between items-center mx-4">
    <div class="flex-row flex">
      <ColorSwitcher client:load />
      <a
        href="/"
        class="flex-row flex items-center space-x-1 hover:text-primary-500 p-1 hover:underline"
        ><span class="font-semibold">Charlie Carolan</span></a
      >
    </div>
    <ul class="flex-row flex justify-between space-x-4">
      <>
        {
          LINKS.map((link) => (
            <li>
              <a
                href={link.href}
                class="flex-row flex items-center space-x-2 hover:text-primary-500 p-1 group"
              >
                <Icon name={link.icon} pack="tabler" size="24" />
                <span class="hidden md:block font-semibold group-hover:underline">
                  {link.name}
                </span>
              </a>
            </li>
          ))
        }
        <li>
          <a
            class="flex-row flex items-center space-x-2 hover:text-primary-500 p-1 group"
            rel="me"
            href="https://social.lol/@tldrqwerty"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              ><g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                ><path
                  d="M18.648 15.254C16.832 17.017 12 16.88 12 16.88a18.262 18.262 0 0 1-3.288-.256c1.127 1.985 4.12 2.81 8.982 2.475c-1.945 2.013-13.598 5.257-13.668-7.636L4 10.309c0-3.036.023-4.115 1.352-5.633C7.023 2.766 12 3.01 12 3.01s4.977-.243 6.648 1.667C19.977 6.195 20 7.274 20 10.31s-.456 4.074-1.352 4.944z"
                ></path><path
                  d="M12 11.204V8.278C12 7.02 11.105 6 10 6S8 7.02 8 8.278V13m4-4.722C12 7.02 12.895 6 14 6s2 1.02 2 2.278V13"
                ></path></g
              ></svg
            >
            <span class="hidden md:block font-semibold group-hover:underline">
              Mastodon
            </span>
          </a>
        </li>
      </>
    </ul>
  </nav>
</header>
