---
import { Icon } from "astro-icon";
import { CollectionEntry, getCollection, z } from "astro:content";

let games = await fetch(
  `http://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v0001/?key=${
    import.meta.env.STEAM_API_KEY
  }&steamid=76561198042086628&format=json`,
  { method: "GET" }
);

const schema = z.object({
  response: z.object({
    total_count: z.number(),
    games: z.array(
      z.object({
        appid: z.number(),
        name: z.string(),
        playtime_2weeks: z.number(),
        playtime_forever: z.number(),
        img_icon_url: z.string(),
        playtime_windows_forever: z.number(),
        playtime_mac_forever: z.number(),
        playtime_linux_forever: z.number(),
      })
    ),
  }),
});

const json = games.ok ? schema.parse(await games.json()) : null;

const collection = await getCollection("games");
const collectionMap: Record<number, CollectionEntry<"games">["data"]> =
  collection.reduce((p, c) => ({ ...p, [c.data.steam_id]: c.data }), {});
---

{
  json != null && (
    <section class="mt-16 sm:mx-8">
      <h2 class="text-primary-500 font-bold text-lg">What I've Been Playing</h2>
      <ul class="grid gap-4 grid-flow-col overflow-x-auto overscroll-contain auto-cols-max snap-x">
        {json?.response.games?.map((game) => (
          <li class="snap-start">
            <a
              href={`https://store.steampowered.com/app/${
                game.appid
              }/${game.name.replaceAll(" ", "_")}/`}
            >
              <img
                src={`https://cdn.akamai.steamstatic.com/steam/apps/${game.appid}/header.jpg?`}
                class="sm:w-[460px] sm:h-[215px] w-screen aspect-auto"
                alt={`Header image for the game ${game.name}`}
              />
              <span>{game.name}</span>
            </a>
            <div class="flex flex-row justify-between">
              <p>{(game.playtime_forever / 60).toFixed(1)} Hours</p>
              {collectionMap[game.appid] !== null &&
                collectionMap[game.appid]?.draft === false && (
                  <a href={`/games/${String(game.appid)}`}>
                    <Icon name="book" pack="tabler" size="24" />
                  </a>
                )}
            </div>
          </li>
        ))}
      </ul>
    </section>
  )
}
