---
import "../style.css";
---

<body class="dark:bg-gray-900 dark:text-white transition-colors">
  <script is:inline>
    const STORAGE_KEY = "PREFERRED_COLOR_THEME";
    let theme = localStorage.getItem(STORAGE_KEY);

    if (theme == null) {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }

    document.documentElement.classList.toggle("dark", theme !== "light");
  </script>
  <slot />
</body>
