---
import type { TransitionAnimationValue } from "astro";
import Site from "./Site.astro";
import { Icon } from "astro-icon";

interface Props {
  title: string;
  description: string;
  transition?: TransitionAnimationValue;
}

const { title, description, transition = "fade" } = Astro.props as Props;
---

<Site title={title} description={description} transition:animate={transition}>
  <article class="prose lg:prose-xl m-auto dark:prose-invert">
    <a href="/blogs" class="flex flex-row items-center no-prose">
      <Icon name="chevron-left" pack="tabler" size="24" />
      <span>Back</span>
    </a>
    <slot />
  </article>
</Site>
