---
import type { TransitionAnimationValue } from "astro";
import Head from "@components/Head.astro";
import Link from "@components/Link.astro";

interface Props {
  title: string;
  description?: string;
  transition?: TransitionAnimationValue;
  class?: string;
}

const {
  title,
  description,
  transition = "fade",
  class: className,
} = Astro.props as Props;
---

<html transition:animate="none">
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class="p-2 bg-ctp-base ctp-mocha h-screen max-h-screen min-h-screen min-w-screen font-shantell-sans text-ctp-text"
  >
    <nav class="sm:flex sm:flex-1 pb-4">
      <div class="border rounded-lg border-ctp-mauve p-2 mb-2 sm:mb-0">
        <Link href="/">
          <h1 class="text-ctp-mauve hover:underline">TLDRQwerty.me</h1>
        </Link>
      </div>
      <ul
        class="border rounded-lg border-ctp-mauve p-2 ml-auto grid grid-cols-3 grid-rows-2 sm:grid-rows-none sm:grid-cols-6 gap-4 sm:gap-0"
      >
        <li>
          <Link href="/now">/Now</Link>
        </li>
        <li>
          <Link href="/">Blog</Link>
        </li>
        <li>
          <Link href="/music">Music</Link>
        </li>
        <li>
          <Link href="/games">Games</Link>
        </li>
        <li>
          <Link href="https://github.com/tldrqwerty">Github</Link>
        </li>
        <li>
          <Link href="https://social.lol/@tldrqwerty">Mastodon</Link>
        </li>
      </ul>
    </nav>
    <main
      transition:animate={transition}
      class:list={[
        "sm:overflow-y-scroll sm:max-h-full border border-ctp-mauve rounded-lg p-4",
        className,
      ]}
    >
      <slot />
    </main>
  </body>
</html>
